<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div id="mw-wrapper">
	{{#data-portlets}}
	<div id="user-tools">
		{{#data-personal}}{{>Portlet}}{{/data-personal}}
	</div>
	{{/data-portlets}}
	<nav id="mw-navigation" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
		<div class="container-fluid">
			<div id="p-logo" class="mw-portlet" role="banner">
				<a href="{{link-mainpage}}">
					{{#data-logos}}
					{{#icon}}<img src="{{.}}" width="40" height="40">{{/icon}}
					{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
					{{^wordmark}}<h1>{{msg-sitetitle}}</h1>{{/wordmark}}
					{{/data-logos}}
				</a>
			</div>
			{{#data-search-box}}
			<form action="{{form-action}}" role="search" class="mw-portlet d-flex" id="p-search" class="form-control me-2">
				<input type="hidden" name="title" value="{{page-title}}">
				{{{html-input}}}
				{{{html-button-search}}}
			</form>
			{{/data-search-box}}
			{{#data-portlets}}
			<div id="page-tools">
				{{#data-namespaces}}{{>Portlet}}{{/data-namespaces}}
				{{#data-variants}}{{>Portlet}}{{/data-variants}}
				{{#data-views}}{{>Portlet}}{{/data-views}}
				{{#data-actions}}{{>Portlet}}{{/data-actions}}
			</div>
			{{/data-portlets}}
			<div id="site-navigation">
				{{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
				{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
				{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
			</div>
		</div>
	</nav>
	<div class="mw-body container" id="content" role="main">
		<div id="siteNotice">{{{html-site-notice}}}</div>
		{{{html-user-message}}}
		<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
		<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
		</div>
		<div id="siteSub">{{msg-tagline}}</div>
		<h1 class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
		<div class="mw-body-content">
			<div id="contentSub">
				{{{html-subtitle}}}
				{{{html-undelete-link}}}
			</div>
			{{{html-body-content}}}
			<!-- todo: replace with .mixin-clearfix -->
			<div class="visualClear"></div>
			{{{html-categories}}}
		</div>
		{{{html-after-content}}}
	</div>
	<div id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
		{{#data-footer}}
		{{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
		{{!}}<div id="footer-list">
		{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
		{{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
		{{!}}</div>
		{{/data-footer}}
		<!-- todo: replace with .mixin-clearfix -->
		<div class="visualClear"></div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>